:root{
    --bound; 
    /* 為什麼沒有值 VScode會提醒 */
}

body{
    background-color: rgba(255, 94, 100, 0.5);
    /* 透明度0.5 */
    color: #FF3864;
}

.bold{
    font-weight: bold;
}

#box{
    /* width: 140px;
    height: 140px; */
    width: var(--bound);
    height: var(--bound);
    background-color: deeppink;
    display: none;
    position: relative;
}